* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;

}

/* Zameka floaty, informuje  rodzica, że może przeliczyć potrzebną wysokośc aby pokryć dzieci */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {}

header div {
    width: 19%;
    margin: 3%;
    /* border: 30px solid white; */
    height: 200px;
    background-color: royalblue;
    float: left;
}

header div:nth-child(1) {
    background-color: greenyellow;
}

header div:nth-child(2) {
    background-color: firebrick;
}

header div:nth-child(3) {
    background-color: deepskyblue;
}

header div:nth-child(41) {
    background-color: coral;
}

header div:nth-child(1):hover {
    background-color: cadetblue;
}

header div:nth-child(2):hover {
    background-color: green;
}

header div:nth-child(3):hover {
    background-color: yellow;
}

header div:nth-child(4):hover {
    background-color: grey;
}

nav {
    background-color: #000000;
    padding: 10px 0 10px 50px;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    width: 25%;
}

nav ul li a {
    display: block;
    border: 2px solid white;
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 26px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

nav ul li a:hover {
    background-color: grey;
    color: yellow;
    border-color: yellow;
}

div.blog {
    margin-top: 40px;
}

main {
    float: left;
    width: 65%;
    padding: 0 20px 20px 0;
}

aside {
    height: 200px;
    background-color: darkgoldenrod;
    float: left;
    width: 25%;
}

article img {
    width: 200px;
    float: left;
    margin: 20px;
}

article p {
    margin-top: 20px;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}