@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

div.wrapper {
    min-height: 1280px;
    /* wycentrowanie strony */
    margin: 0 auto;
}

nav {

}

nav a {

}

nav a.btn4 {

}

nav a:hover {

}

nav a.btn4:hover {
}

header {
    height: 300px;
    background-color: cadetblue;
}

main {
    min-height: 50vh;
    background-color: burlywood;
}

footer {
    min-height: 100px;
    background-color: darkcyan;
}